<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" formControlName="name" placeholder="Your Name">
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth</label>
      <input type="text" class="form-control" formControlName="dateOfBirth"  placeholder="Date of Birth">
    </div>
    <div class="form-group">
      <label for="occupation">Occupation</label>
      <select class="form-control" formControlName="occupationId">
        <option value="">Select Occupation</option>
        <option *ngFor="let occupation of occupations$ | async" [value]="occupation.id">{{occupation.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="suminsured">Sum Insured</label>
      <input type="text" class="form-control" formControlName="sumInsured" placeholder="1000000">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Calculate My Premium</button>
    </div>
  </form>